@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h2>Hello world!</h2>
<h2>Hello world! (resolved conflict)</h2>
=======
<h2>Hello world! a change in default</h2>
>>>>>>> 8787ee4d766f4c9babf9b473afe6a0b533c19303
